{% extends "base.html" %}

{% block content %}
    <ul class="list-group">
        <li class="list-group-item">
            <div>
                <p>
                    Проверка для <a class="navbar-brand" href="#">Название документа 1</a>
                    <a href="/check/1">
                        <button class="btn btn-outline-success my-2 my-sm-10" type="submit">Детали</button>
                    </a>
                </p>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <p>
                    Проверка для <a class="navbar-brand" href="#">Название документа 2</a>
                    <a href="/check/2">
                        <button class="btn btn-outline-success my-2 my-sm-10" type="submit">Детали</button>
                    </a>
                </p>

            </div>
        </li>
        <li class="list-group-item">
            <div>
                <p>
                    Проверка для <a class="navbar-brand" href="#">Название документа 3</a>
                    <a href="/check/e">
                        <button class="btn btn-outline-success my-2 my-sm-10" type="submit">Детали</button>
                    </a>
                </p>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <p>
                    Проверка для <a class="navbar-brand" href="#">Название документа 4</a>
                    <a href="/check/4">
                        <button class="btn btn-outline-success my-2 my-sm-10" type="submit">Детали</button>
                    </a>
                </p>
            </div>
        </li>
        <li class="list-group-item">
            <div>
                <p>
                    Проверка для <a class="navbar-brand" href="#">Название документа 5</a>
                    <a href="/check/5">
                        <button class="btn btn-outline-success my-2 my-sm-10" type="submit">Детали</button>
                    </a>
                </p>
            </div>
        </li>
    </ul>
    <div style="padding: 20px 0 0 40px">
        <a href="/check/new ">
            <button class="btn btn-outline-success my-2 my-sm-10" type="submit">Добавить новую проверку</button>
        </a>
    </div>
{% endblock %}